@model WebApp.Models.RentEstimateModel

@{
  Layout = "~/Views/Shared/_AccountLayout.cshtml";

  ViewData["Title"] = "Customize";
  ViewData["Header.Title"] = "Welcome to B4G";
  ViewData["Header.Slogan"] = "You’ll find endless opportunities to learn, code, and create, ";

  ViewData["Step1"] = "complete";
  ViewData["Step1.Icon"] = "glyphicon-ok";
  ViewData["Step1.Label"] = "Completed";

  ViewData["Step2"] = "complete";
  ViewData["Step2.Icon"] = "glyphicon-ok";
  ViewData["Step2.Label"] = "Completed";

  ViewData["Step3"] = "current";
  ViewData["Step3.Icon"] = "glyphicon-cog";
  ViewData["Step3.Label"] = "Step 3:";
}

<form asp-action="Customize" method="post" class="form-signin">
  <h2 class="f2-light">Rent estimate</h2>

  <div asp-validation-summary="All" class="text-danger"></div>

  <div class="form-group">
    <label class="control-label">Valuation range</label>
    @if (ViewData["Zestimate.Alert"] != null)
    {
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Warning!</strong> @ViewData["Zestimate.Alert"]
      </div>
    }
    <div class="valuation-range">
      Between
      <span class="label label-success">$ @ViewData["Zestimate.Low"]</span>
      and
      <span class="label label-danger">$ @ViewData["Zestimate.High"]</span>
    </div>

    <div class="form-group">
      <input asp-for="RentZestimateLow" type="hidden" class="form-control" hidden value="@ViewData["Zestimate.Low"]" />
    </div>
    <div class="form-group">
      <input asp-for="RentZestimateHigh" type="hidden" class="form-control" value="@ViewData["Zestimate.High"]" />
    </div>
  </div>

  <div class="form-group">
    <label asp-for="ExpectedRent" class="control-label"></label>
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input asp-for="ExpectedRent" type="text" class="form-control" placeholder="What is your expected monthly rent?" aria-label="Amount (to the nearest dollar)">
    </div>
    <span asp-validation-for="ExpectedRent" class="text-danger"></span>
  </div>

  <button type="submit" class="btn btn-success">Submit</button>
</form>

@section Scripts {
  @await Html.PartialAsync("_ValidationScriptsPartial")
}